/.cproject
/.project
bin/*.*
bin/.cproject
bin/.project
bin/avr/*.*
bin/avr/.cproject
bin/avr/.project
bin/avr/conf/*.eep
bin/avr/conf/.cproject
bin/avr/conf/.project
bin/avr/conf/wii_esc_ng.cbp
bin/avr/conf/wii_esc_ng.layout
bin/avr/wii_esc_ng.cbp
bin/avr/wii_esc_ng.layout
bin/wii_esc_ng.cbp
bin/wii_esc_ng.layout
lib-avr/.cproject
lib-avr/.project
lib-avr/arduino/.cproject
lib-avr/arduino/.project
lib-avr/arduino/wii_esc_ng.cbp
lib-avr/arduino/wii_esc_ng.layout
lib-avr/nvram/.cproject
lib-avr/nvram/.project
lib-avr/nvram/wii_esc_ng.cbp
lib-avr/nvram/wii_esc_ng.layout
lib-avr/wii_esc_ng.cbp
lib-avr/wii_esc_ng.layout
lib/.cproject
lib/.project
lib/MWC_PT/.cproject
lib/MWC_PT/.project
lib/MWC_PT/wii_esc_ng.cbp
lib/MWC_PT/wii_esc_ng.layout
lib/wii_esc_ng.cbp
lib/wii_esc_ng.layout
obj/*.*
obj/.cproject
obj/.project
obj/avr/*.*
obj/avr/.cproject
obj/avr/.project
obj/avr/lib-avr/*.*
obj/avr/lib-avr/.cproject
obj/avr/lib-avr/.project
obj/avr/lib-avr/arduino/*.*
obj/avr/lib-avr/arduino/.cproject
obj/avr/lib-avr/arduino/.project
obj/avr/lib-avr/arduino/wii_esc_ng.cbp
obj/avr/lib-avr/arduino/wii_esc_ng.layout
obj/avr/lib-avr/nvram/*.*
obj/avr/lib-avr/nvram/.cproject
obj/avr/lib-avr/nvram/.project
obj/avr/lib-avr/nvram/wii_esc_ng.cbp
obj/avr/lib-avr/nvram/wii_esc_ng.layout
obj/avr/lib-avr/wii_esc_ng.cbp
obj/avr/lib-avr/wii_esc_ng.layout
obj/avr/src/*.*
obj/avr/src/.cproject
obj/avr/src/.project
obj/avr/src/wii_esc_ng.cbp
obj/avr/src/wii_esc_ng.layout
obj/avr/wii_esc_ng.cbp
obj/avr/wii_esc_ng.layout
obj/wii_esc_ng.cbp
obj/wii_esc_ng.layout
src/.cproject
src/.project
src/hal/.cproject
src/hal/.project
src/hal/wii_esc_ng.cbp
src/hal/wii_esc_ng.layout
src/wii_esc_ng.cbp
src/wii_esc_ng.layout
/wii_esc_ng.cbp
/wii_esc_ng.layout
